{% extends store.main_layout|default:'layouts/upper.html' %}
{% load static %} 
{% load i18n %}
{% load cart_product_qty %}
{% load or_default_img %}
{% load by_lang %}


{% block content %}
    <div class="flex justify-center">
        {% get_current_language as LANG_CODE %}
        <div class="flex col w-80 p-10">
            <h2 class="text-center my-10">{% translate "Checkout" %}</h2>
            <div class="flex justify-center p-4">
                <div class="flex col p-4 checkout">
                    <div class="flex justify-between my-6">
                        <input class="px-2" type="text" name="order_name" placeholder="{% translate 'Name' %}">
                        <input class="px-2" type="email" name="order_email" placeholder="{% translate 'E-mail' %}">
                    </div>
                    <div class="my-4">{% translate "Shipping information" %}</div>
                    <div class="flex justify-center my-4">
                        <input class="w-full px-2" type="text" name="order_address" placeholder="{% translate 'Address' %}">
                    </div>
                    <div class="flex justify-between my-4">
                        <input class="px-2" type="text" name="order_post" placeholder="{% translate 'Postal code' %}"
                            onkeypress="return onlyOneToNine(event);"
                        >
                        <input class="px-2" type="text" name="order_country" placeholder="{% translate 'Country code' %}"
                            onkeypress="return onlyOneToNine(event);"
                        >
                    </div>
                    
                    <div class="flex justify-center my-4">
                        <button id="paypalBtns" 
                            class="border border-color radius-2 pointer text-center w-full my-2 py-2" 
                            onclick="showPayPalBtns()" disabled>
                            {% translate "Continue" %}
                        </button>
                    </div>
                    <div>
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <div class="col p-4">
                    <div class="my-6">
                        <a class="text-decoration-none text-color" href="{% url 'fnd:cart' %}">
                            <button class="border border-color radius-2 pointer py-2 px-4">{% translate "Back" %}</button>
                        </a>
                    </div>
                    <div class="my-6">{% translate "Order summary" %}</div>
                    <div class="flex col py-3">
                        
                        {% for item in cart %}
                        {% with prod=item.product %}
                            <div class="flex justify-between align-center my-4 checkout-item">
                                <img src="{{ prod.thumb|or_default_img }}">
                                <div class=" py-2 px-4">
                                    {{ prod.prod_base.get_name_by }} 
                                    <small>
                                        {% if prod.ext_name %}
                                            ({{ prod.name_ext }})
                                        {% endif %}
                                    </small>
                                </div>
                                <div class=" py-2 px-4">{{ item.total_price }}$</div>
                                <div class=" py-2 px-4">{{ item.quantity }}</div>
                            </div>
                        {% endwith %}
                        {% endfor %}

                    </div>
                    <div>
                        {% translate "Items" %}: 
                        {% with total_qty=cart|length %}
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% endif %}
                        {% endwith %} 
                    </div>
                    <div>
                        {% translate "Delivery" %}: 
                        <span id="cart-delivery">{{ cart.get_delivery_price }}</span>
                    </div>
                    <div>{% translate "Total" %}: 
                        <span id="cart-total">{{ cart.get_total_price }}</span>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
{% endblock content %} 

{% block page_script %}
<script src="https://www.paypal.com/sdk/js?client-id=ARq8zA5Dbrdn3elQrn5k97H-NIDJSsDvLzHrqli1e0H2t0vLGyioRm2qwi1K0XGfAo-4_MfsbpeyfLzK"></script>
<script>
    const inputWatchHandler = (condition) => {
        console.log(condition)
        let paypalBtnsContinue = document.querySelector('#paypalBtns');
        let paypalBtnsElem = document.querySelector('#paypal-button-container');
        if (condition) {
            paypalBtnsContinue.disabled = false;
        } else {
            paypalBtnsContinue.disabled = true;
            paypalBtnsElem.innerHTML = '';
        }
    }
    const inputWatcher = new InputWatcher({
        obserEvent: 'keyup',
        obserElementsSelector: '.checkout input',
        handler: inputWatchHandler,
    })
    function initPayPalButtons() {
        const totalPrice = '{{ cart.get_total_price }}';

        const buyerData = {
            'name': document.querySelector('input[name="order_name"]').value,
            'email': document.querySelector('input[name="order_email"]').value,
            'address': document.querySelector('input[name="order_address"]').value,
            'post': document.querySelector('input[name="order_post"]').value,
            'country': document.querySelector('input[name="order_country"]').value,
        }

        paypal.Buttons({
            style: {
                shape: 'rect',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal',
            },
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            'currency_code': 'USD',
                            'value': parseFloat(totalPrice).toFixed(2),
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {

                var url = '{% url "fnd:checkout_payment_complete" %}'
                return fetch(url, {
                    method: 'POST',
                    headers: { 
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({
                        orderID: data.orderID,
                        buyerData: buyerData,     
                    })
                })
                .then(function(data) {
                    if (data.status == 200) {
                        location.href = '{% url "fnd:checkout_payment_successful" %}'
                    }
                    if (data.status == 500) {
                        alert('error: order adding to data base');
                    }
                })
            },
        }).render('#paypal-button-container');
    }
    function showPayPalBtns() {
        if (document.querySelector('#paypal-button-container').innerHTML == '') {
            initPayPalButtons();
        }
    }
</script>
{% endblock page_script %} 