{% load static %} 
{% load i18n %}
{% load cart_product_qty %}
{% load or_default_img %}

<div class="border border-color radius-2 shadow-2 m-8 p-4 product">
    <img src="{{ prod.thumbUrl }}">
    <div class="data">
        <div class="cont">
            <span class="title">
                {{ prod.prod_base.get_name_by }} 
                <small>
                    {% if prod.ext_name %}
                        ({{ prod.name_ext }})
                    {% endif %}
                </small>
            </span>
            <span class="price">
                {% if prod.sale_price %}
                    <small>(<s>{{ prod.price }}</s>)</small>{{ prod.sale_price }}
                {% else %}
                    {{ prod.price }}
                {% endif %}
            </span>
            <div class="acts my-4">
                <div class="act relative">
                    <div class="absolute full" onclick="wish.toggle()" data-prodid="{{ prod.id }}">
                        <svg class="prod-wish {% if prod.id in wish.get_product_ids %}wished{% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" 
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linecap="round" stroke-linejoin="round" fill="transparent">
                            <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
                </div>
                <div class="act relative">
                    <div class="absolute full w-80 t-2" onclick="compare.toggle()" data-prodid="{{ prod.id }}">
                        <svg class="prod-compare {% if prod.id in comparison.get_product_ids %}compared{% endif %}"  xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 16 16" 
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linecap="round" stroke-linejoin="round" fill="transparent">
                            <path fill-rule="nonzero" d="M1 1 L1 15 L15 15 L15 1 L1 1"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="btns">
                <div class="flex align-center">
                    {% cart_product_qty cart prod.id as prod_quantity %}
                    <button onclick="cart.select()" 
                        data-prodid="{{ prod.id }}" 
                        data-quantity="{{ prod_quantity|default_if_none:'' }}"  
                        class="relative border border-color text-color radius-2 pointer px-4 mr-2
                        {% if prod.id in cart.get_product_ids %}prod-selected{% endif %}
                    ">
                        <div class="absolute prod-count 
                            {% if not prod_quantity %}hidden{% endif %}
                            ">
                            <small>{{ prod_quantity|default_if_none:'' }}</small>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                    </button>
                    <button class="border border-color text-color radius-2 pointer px-4 mr-2"
                        onclick='location.href="{% url "fnd:product" prod.slug %}"'>
                        {% translate "View" %}
                    </button>
                </div>
            </div>
            <div class="info">
                {{ prod.prod_base.short_desc }}
            </div>
        </div>
    </div>
</div>

