{% load static %}
{% load i18n %}
{% load or_default_img %}
{% load by_lang %}

<!DOCTYPE html>
<html data-fnd='{{ fnd.alias }}' data-theme='{{ options.theme|default:"light" }}'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{ fnd.logoUrl }}">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<script type="text/javascript" src="{% static 'js/lib/setups.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/theme.js' %}"></script>
	{% get_current_language as LANG_CODE %}
	<title>{{ fnd.name|by_lang:LANG_CODE }}</title>
	<meta name="description" content="{% block meta_desc %}{% endblock meta_desc %}">
	<meta name="keywords" content="{% block meta_keys %}{% endblock meta_keys %}">
</head>
<body>
	{% include 'partials/message.html' %}
	{% block layout %}
		<!-- layout content -->
	{% endblock layout %} 
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	{% block page_script %}{% endblock page_script %} 
</body>
</html>