{% extends fnd.main_layout|default:'layouts/upper.html' %}
{% load static %} 
{% load i18n %}


{% block content %}
    <div class="flex justify-center align-center h-vh">
        <div>
            <h1 class="text-color text-center">{% translate "Confirm password" %}</h1>
            <form action="{% url 'account:confirm_passwd_store' %}" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                  {% for field in form %}
                    {% if field.errors %}
                    <div>
                        {{ field.label }}: {{ field.errors|striptags }}
                    </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                {{ form.as_p }}
                <div class="text-center mt-4">
                    <button class="border border-color radius-2 px-6 py-4" type="submit">{% translate "Send" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %} 